.pagination{
  display: flex;
  /* overflow-x: auto; */
  padding-top: 5px;
  padding-bottom: 5px;
}

.pagination span{
  /* display: block; */
  width: 20px;
  height: 20px;
  margin-right: 5px;
  padding: 3px;
  border: 1px solid darkgreen;
  cursor: pointer;
  text-align: center;
}

.pagination span.currentPage{
  font-weight: bold;
  background-color: darkkhaki;
  cursor: auto;
}

.prevButton,
.nextButton{
  padding: 5px;
  font-weight: bold;
  border-radius: 3px;
  color: aqua;
  border: none;
  background-color: blueviolet;
  cursor: pointer;
  opacity: 0.7;
}

.prevButton:hover,
.nextButton:hover{
  opacity: 1;
}

.prevButton{
  margin-right: 10px;
}

.nextButton{
  margin-left: 10px;
}
