
.myPosts{
  padding: 10px;
}

.newPostblock{
  display: flex;
  width: calc(50% + 200px);
  margin-bottom: 25px;
}

.newPostblock div{
  width: 100%;
  margin-right: 5px;
}

.newPostblock textarea{
  width: 91%;
  padding: 10px;
  font-size: 18px;
  resize: vertical;
  border: none;
  background-color: #4479D4;
  border: 3px solid #4479D4;;
}

.newPostblock button{
  width: 95px;
  height: 35px;
  padding: 10px;
  background-color: #00685A;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.newPostblock textarea:active,
.newPostblock textarea:focus,
.newPostblock button:active,
.newPostblock button:focus{
  outline: none;
}

.item {
  width: 50%;
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid greenyellow;
  border-radius: 10px;
}

.item img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
}