
.myPosts{
  padding: 10px;
}

.newPostblock{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 25px;
  box-sizing: border-box;
  border-bottom: 1px solid yellowgreen;
  padding-bottom: 10px;
}

.newPostblock div{
  width: 100%;
  margin-right: 5px;
}

.newPostblock textarea{
  width: 100%;
  padding: 10px;
  font-size: 18px;
  resize: vertical;
  border: none;
  background-color: #4479D4;
  border: 3px solid #4479D4;
  box-sizing: border-box;
}

.newPostblock button{
  align-self: flex-end;
  width: 95px;
  height: 35px;
  padding: 10px;
  margin-top: 5px;
  font-weight: bold;
  background-color: #00685A;
  border: none;
  cursor: pointer;
}

.newPostblock textarea:active,
.newPostblock textarea:focus,
.newPostblock button:active,
.newPostblock button:focus{
  outline: none;
}
