
.header{
  grid-area: h;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px; 
}

.header img{
  width: 50px;
}

.loginBlock{
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.loginBlock:hover{
  text-decoration: underline;
}

.logoutButton{
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: darkcyan;
  color: aqua;
  font-weight: bold;
  cursor: pointer;
}