
.nav{
  grid-area: n;
  background-color: rgb(119, 176, 241);
  padding: 20px;
}

.item a{
  color: #d8ddc9;
  font-weight: bold;
  text-decoration: none;
}

.nav .item .activeLink {
  color: rgb(243, 7, 7);
}