
.nav{
  grid-area: n;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: aqua;
}

.item{
  margin-bottom: 5px;
}

.item a{
  color: coral;
  text-decoration: none;
}

.item a.active{
  color: crimson;
}