
.background{
  width: 50%;
}

.profileDecsription{
  display: flex;
  justify-content: space-between;
  min-height: 250px;
  margin-bottom: 25px;
  padding: 5px;
  border: 3px solid royalblue;
  background-size: 100%;
}

.profilePhoto{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profileText{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.profileText span{
  margin-top: 15px;
}

.profileText h2,
.profileText span{
  padding: 5px;
  background-color: cyan;
  border-radius: 3px;
}

.avatarWrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.avatarWrapper input{
  opacity: 0;
  width: 0;
}

.downloadLabel{
  position: absolute;
  bottom: 0;
  right: 0;
  align-self: center;
  padding: 0 3px;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
  background-color:aqua;
  cursor: pointer;
}

.profileContacts{
  margin-left: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 3px;
  background-color: bisque;
}