.formSummaryError{
  display: inline-block;
  margin: 10px;
  padding: 5px;
  color: cornflowerblue;
  border: 1px solid red;
}

.checkboxWrapper{
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}