.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.messages {
  padding: 10px;
}

.dialogsItems .active {
  color: rgb(66, 19, 235);
}

.dialog{
  text-decoration: none;
}